:root{
    --naranajaPrincipal: #EDA381;
    --beige:#FFF6DC;
    --verdePrincipal: #96947F;
    --rojoextra:#cc3a3d;
    --VerdeCard: #fcf9dd;
    --VerdeCard-less: #fcf9dd88;
    --white:#ffffff;
    --gris:#A59EA4;
    --Sucess:#00e322;
    --middlewhite:#ecedef;
    --Error:#e80909;
}
*{
    font-family: 'Lora', serif;
    
}



.logo{
    width: 13rem;
}
p{
    font-size: 1rem;
}
.productos-preview h2, .preguntas h2, .productos h2{
    color: var(--naranajaPrincipal);
    font-weight: bold;
}

/*main*/

main p{
    font-size: 1.4rem;
    font-weight: 500;
}
header{
    background-color: none;
}
.texto-especial{
    font-family: 'Pacifico', cursive;
    font-size: 3.7rem;
    color: var(--naranajaPrincipal);
   
}

.boton-inicio{
    background-color: var(--naranajaPrincipal);
    width: 14rem;
    height: 2.5rem;
    color: white;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 2.5rem; 
    font-size: 1.1rem;

}
.navbar ul li:hover{
    background-color: var(--VerdeCard);
    cursor: pointer;
}
.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}


.textos-inicio{
    margin-top: 6rem;
}
.textos-inicio h1{
    font-size: 4.5rem;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


/* seccion informacion*/

.informacion{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: auto;
    
}
.informacion-texto{
    width: 90%;
    text-align: justify;
}
.informacion .row .col-4 p{
    color: var(--gris);
}
.informacion .row .col-4 h3{
    color: var(--naranajaPrincipal);
}
.informacion-img-2{
    width: 9.5rem;
}
.informacion-img-3{
    width: 9rem;
    padding-bottom: 1.5rem;
}

/*carrusel*/
.carrusel{
    padding: 0;
    background-color: var(--naranajaPrincipal);
}
.mensaje-pagina{
    background-color: var(--naranajaPrincipal);
    padding: 0;
}
.mensaje-pagina h3{
 font-weight: bold;
 font-size: 2rem;
 padding: 3rem 2rem 3rem 2rem;
 margin-bottom: 2.5rem;
 background-color: var(--VerdeCard);
}

.mensaje-pagina p{
    font-size: 1.1rem;
}
.ver-boton{
    background-color: var(--VerdeCard);
}

/*Productos inicio*/
.productos-preview{
    margin-top: 3rem;
    padding: 2rem, 2rem, 2rem, 2rem;
}
.productos-preview .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productos-preview .card{
    padding: 0;
    border: none;
}

.boton-modal{
    text-decoration: none;
    color: white;
    background-color: var(--naranajaPrincipal);
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    border-radius: 0.4rem;
}
.productos-texto-ultimo p a{
    text-decoration: none;
    color: var(--verdePrincipal) ;
    margin-right: 4rem;
    font-size: 1.3rem;
}


.modal-footer button a{
    text-decoration: none;
    color: white;
}

.bx-shopping-bag{
    color: white;
    font-size: 1.4rem;
    padding-left: 0.2rem;
}

.btn-cerrar{
    color: red;
    background-color: var(--middlewhite);
}

.modal-footer button:nth-child(2) {
    background-color: var(--naranajaPrincipal);
}

.modal-footer button{
    display: flex;
    align-items: center;
}


.productos-boton-mas{
    background-color: var(--naranajaPrincipal);
}
.producto-card-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.productos-titulo{
    color: var(--naranajaPrincipal);
}

#catalogo div{
   margin-bottom: 1rem;
}

#catalogo div img{
   padding-bottom: 2rem;
}
#catalogo div h3{
    color: var(--naranajaPrincipal);
}
.ramos-boda p{
    color: var(--gris)
}



.banner{
    background-image: url(./imgs/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.local{
    background-color: var(--VerdeCard);
}
.local h2{
    color: var(--naranajaPrincipal);
    font-weight: bold;
    margin-left: 2rem;
}
.local p{
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.local-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
   padding-left: 3rem;
    background-color: var(--naranajaPrincipal)
    

}



.variedad{
    background-color: var(--naranajaPrincipal);
    padding-bottom: 8rem;
}
.variedad-titulo{
    font-weight: bold;
    margin-bottom: 3.5rem;
}
.variedad-texto{
 color: white;
}
.variedad-texto h3{
    color:var(--VerdeCard);
    font-weight: bold;
}
.variedad-foto:hover{
    opacity: 0.7;
}





/* seccion de valoraciones*/


.owl-carousel div img{
    border-radius: 100%;
    width: 6rem !important;
}
.owl-prev, .owl-next {
    font-size: 3rem !important;
    width: 5rem;
 }

.valoracion-usuario{
    background-color: var(--VerdeCard);
    border-radius: 2rem;
    padding: 2rem 3rem 2rem 3rem;
    margin-right: 3rem;
    border: 0.1rem solid var(--middlewhite);
}
.valoraciones-titulo h2{
    color: var(--naranajaPrincipal);
    font-weight: bold;
    padding-bottom: 3rem;
    padding-top: 4rem;
}
.valoraciones{
    margin-top: 0rem;
}



.card-img-top{
    margin:  auto;
    width: 6rem;
    height: 7rem;
    border-radius: 30rem;
}
.card{
    padding-top: 1rem;
    border-radius: 1rem;
    width: 16rem;
}

.card-title{
    color: var(--naranajaPrincipal);
}
.card-text{
    color: var(--gris);
}

#estrella{
    fill: var(--naranajaPrincipal);
}

.bx-shopping-bag{
    font-size: 1.2rem;
}
.sc-add-to-cart{
    background-color: var(--naranajaPrincipal);
    border: none;
    display: flex;
    align-items: center;
}
.sc-add-to-cart i{
    padding-right: 0.5rem;
}
.horarios h3{
    color: var(--naranajaPrincipal);
    font-weight: bold;
}
.horarios ul li{
    font-size: 1.2rem;
}


/* seccion nosotros*/

h2{
    font-weight: bold;
    margin-top: 4rem;
    color: var(--naranajaPrincipal);

    
}
.nosotros-titulo{
    color: var(--naranajaPrincipal);
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.nosotros-texto p{
    font-size: 1rem;
    text-align: justify;
 
}
.nosotros-texto{
    margin-bottom: 4rem;
}
.nosotros-titulo strong{
    color: var(--naranajaPrincipal);
    font-family: 'Pacifico', cursive;
}

.banner-nosotros{
   
        background-image: url(./imgs/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        margin-top: 3rem;
        margin-bottom: 3rem;
}

.nosotros-productos{
    background-color: var(--VerdeCard);
    padding-bottom: 2rem;
}
.nosotros-productos h3{
    padding-top: 4rem;
    margin-top: 2rem;
    font-weight: bold;
}

.nosotros-persona{
    border-radius: 50rem;
}

.nosotros-productos .card{
    background-color: var(--VerdeCard);
    border: none;
}

.nosotros-historia .col-6 h3{
    color: var(--naranajaPrincipal);
    font-weight: bold;
}

.nosotros-historia h3{
    color: var(--naranajaPrincipal);
}
.nosotros-historia{
    text-align: justify;
    margin-top: 6rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
}
.image-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.hover-image {
    width: 100%;
    height: auto;
}
.hover-image:hover{
    opacity: 0.6;
}

.instagram-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.instagram-logo img {
    width: 3.125rem; 
    height: auto;
}

.image-container:hover .instagram-logo {
    opacity: 1;
}
.nosotros-redes{
    background-color: var(--naranajaPrincipal);
    margin-top: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.nosotros-center {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--VerdeCard);
}


.logo-nosotros{
    width: 10rem;
}


/*contacto*/
.faq h2{
    font-weight: bold;
    padding-bottom: 2rem;
}
.faq-imagen{
    background-image: url(imgs/faq-backgorund.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.faq-preguntas{
    display: flex;
}
.contacto {
    background-color: var(--VerdeCard);
    margin-top: 2rem;
}
.contacto .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.list-inline i{
    color: var(--naranajaPrincipal);
    font-size: 2rem;
}
.faq h3{
    color: var(--naranajaPrincipal)
}

#btn-scroll-top {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* footer*/
footer h3{
    color: var(--VerdeCard);
    font-size: 1.3rem;
}
footer p{
    color: var(--gris);
}
footer i{
    font-size: 1.4rem;
    margin-right: 1rem;
}
 footer .list-inline i{
    color: var(--gris);
}

footer{
    background-color: #4B3F3F;
    padding-top: 2rem;
}

.navbar-collapse {
    background-color: var(--white);
    margin-top: 2rem;
}

.imagen-producto{
    width: 16rem;
}




  
@media (max-width: 767px) {
   
    main{
        background-image: url(./imgs/background_mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 160vh;
    }
    h1{
        font-size: 4rem !important;
        margin-top: 3rem;
    }
   
    .botones-seleccion{
        flex-direction: column;
        justify-content: space-between;
    }
    
    .mensaje-pagina h3{
        padding-top:1rem ;
        padding-bottom: 1rem;
        margin: 1rem 0rem 1rem 0rem;
    
       }
       .mensaje-pagina{
        padding-bottom: 2rem;
       }
       .producto-card{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .variedad{
        padding:2rem 2rem 1rem 2rem;
    }
    .variedad p{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .variedad img{
        padding-bottom: 3rem;
    }
    .faq-imagen{
        display: none;
    }

    .mensaje-pagina h3{
        font-size: 1.4rem;
        padding: 3rem 2rem 3rem 2rem;
        margin-bottom: 2rem;
        
    }

    .productos{
        padding-bottom: 14rem;
    }
    
    main p{
        display: none;
    }

   .boton-inicio{
        font-size: 1.7rem;
        height: 4rem;
        width: 20rem;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    .nosotros-persona{
        display: none;
    }

}

 
  @media (min-width: 768px) and (max-width: 991px) {
    main{
        background-image: url(imgs/background-tablet.jpg);
        height: 100vh;
    }
    main h1{
        font-size: 3.5rem  !important;
    }
    .texto-especial{
        font-size: 2.7rem !important;
    }

    .navbar-collapse {
        background-color: var(--white);
        margin-top: 2rem;
  }
     .nosotros-persona{
    display: none;
    }
  }

  @media (min-width: 992px) {
    main{
        background-image: url(./imgs/backgroundpc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 110vh;
    }
    .textos-inicio{
        margin-top: 7rem;
    }
    
    main h1{
        font-size: 5rem;
    }
    .texto-especial{
        font-size: 3.2rem;
    }
    
   
    
  }